<%- include('./partials/head') %> <%- include('./partials/header') %>

<body>
    <div class="container">
        <div class="title">
            <h2>Add a Game</h2>
        </div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis
            voluptate minima a unde assumenda laboriosam ex labore suscipit
            nihil. Eos asperiores adipisci officiis, aspernatur error vero saepe
            temporibus iusto quasi.
        </p>
        <form action="/game/add" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label">Name</label>
                <input type="text" class="form-control" name="name" required/>
            </div>
            <div class="mb-3">
                <label class="form-label">Image</label>
                <input type="file" class="form-control" name="image" />
            </div>
            <div class="mb-3">
                <label class="form-label">Price</label>
                <div class="input-group">
                    <span class="input-group-text">Rp</span>
                    <input type="number" class="form-control" min="0" name="price" />
                    <span class="input-group-text">.00</span>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Release Date</label>
                <input type="date" class="form-control" name="release_date" />
            </div>
            <div class="mb-3">
                <label class="form-label">Developer</label>
                <input type="text" class="form-control" name="developer" />
            </div>
            <div class="mb-3">
                <label class="form-label">Publisher</label>
                <input type="text" class="form-control" name="publisher" />
            </div>
            <div class="mb-3">
                <label class="form-label">Description</label>
                <textarea class="form-control" name="desc" rows="3"></textarea>
            </div>
            <div class="mb-3">
                <label class="form-label">Genre</label>
                <select class="form-select select2-multiple" name="genres" multiple>
                    <% genres.forEach(genre => { %>
                        <option value="<%= genre.id %>"><%= genre.name %></option>
                    <% }); %>
                </select>
            </div>
            <a href="/game/details" class="btn btn-primary">Cancel</a>
            <button type="submit" class="btn btn-primary">Add Game</button>
        </form>
    </div>
</body>

<%- include('./partials/footer') %>