<%- include('./partials/head') %>
    <%- include('./partials/header') %>

        <body>
            <div class="container">
                <div class="title">
                    <h2>Games Page</h2>
                </div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis
                    voluptate minima a unde assumenda laboriosam ex labore suscipit
                    nihil. Eos asperiores adipisci officiis, aspernatur error vero saepe
                    temporibus iusto quasi.
                </p>
                <div class="row" style="margin-bottom: 20px; margin-right: 0px;">
                    <div class="d-flex justify-content-end">
                        <a href="/game/add/"><button type="button" class="btn btn-primary">Add Game</button></a>
                    </div>
                </div>
                <div class="container-md">
                    <% games.forEach(game=> { %>
                        <a href="/game/details/<%=game.id%>">
                            <div class="card mb-3 card-game" style="max-width: 100%;">
                                <div class="row g-0" style="padding-right: 0px;">
                                    <div class="col-md-3">
                                        <img src="/uploads/<%=game.image%>" class="img-fluid h-100 rounded-start"
                                            alt="<%=game.image%>">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <div class="row border-bottom">
                                                <div class="col-md-8">
                                                    <h5 class="card-title ">
                                                    <%=game.name %>
                                                    </h5>
                                                </div>
                                            </div>
                                            <div>
                                                <% 
                                                let genres
                                                genres = game.genres %>
                                                <% genres.forEach(genre=> { %>
                                                <% if(genre.name !== null) { %>
                                                    <small class="card-text"><span class="badge bg-primary"><%=genre.name%></span></small>
                                                <% } else { %>
                                                    <small class="card-text"><span class="badge bg-primary">unidentified</span></small>  
                                                <% } %>
                                                <!-- <span class="card-text badge bg-primary col"><%=genre.name %></span> -->
                                                <!-- <span class="badge badge-primary"><%=genre.name %></span> -->
                                                <% }) %>
                                            </div>
                                            <p class="card-text"><%=game.gameProfile.desc %></p>
                                            <h4 class="card-text" style="margin-top: 0px; margin-bottom: 0px"><small class="text-success"><%= rupiah(game.price) %></small></h4>
                                        </div>
                                    </div>
                                    <!-- <div class="col-md-1">
                                        <small><a href="/game/update/<%=game.id%>">Update</a></small>
                                    </div> -->
                                </div>
                            </div>
                        </a>
                    <% }) %>
                </div>
            </div>
        </body>

<%- include('./partials/footer') %>