<%- include('./partials/head') %>
    <%- include('./partials/header') %>

        <body>
            <div class="container">
                <div class="title">
                    <h2>Games Page</h2>
                </div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis
                    voluptate minima a unde assumenda laboriosam ex labore suscipit
                    nihil. Eos asperiores adipisci officiis, aspernatur error vero saepe
                    temporibus iusto quasi.
                </p>
                <div class="row" style="margin-bottom: 20px; margin-right: 0px;">
                    <div class="d-flex justify-content-end">
                        <a href="/game/add/"><button type="button" class="btn btn-primary">Add Game</button></a>
                    </div>
                </div>
                <div class="container-md">
                    <% games.forEach(game=> { %>
                        <a href="/game/details/<%=game.id%>">
                            <div class="card mb-3 card-game" style="max-width: 100%;">
                                <div class="row g-0">
                                    <div class="col-md-3">
                                        <img src="<%=game.image%>" class="img-fluid h-100 rounded-start"
                                            alt="<%=game.name %>">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title border-bottom">
                                                <%=game.name %>
                                            </h5>
                                            <div class="row row-cols-auto">
                                                <% 
                                                let genres
                                                genres = game.genres %>
                                                <% genres.forEach(genre=> { %>
                                                <% if(genre.name !== null) { %>
                                                <p class="card-text col"><span class="badge bg-primary"><%=genre.name%></span></p>
                                                <% } else { %>
                                                    <p class="card-text col"><span class="badge bg-primary">unidentified</span></p>  
                                                <% } %>
                                                <!-- <span class="card-text badge bg-primary col"><%=genre.name %></span> -->
                                                <!-- <span class="badge badge-primary"><%=genre.name %></span> -->
                                                <% }) %>
                                            </div>
                                            <p class="card-text"><%=game.gameProfile.desc %></p>
                                            <h4 class="card-text" style="margin-top: 0px; margin-bottom: 0px"><small class="text-success">Rp. <%=game.price %></small></h4>
                                            <div>resident</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    <% }) %>
                </div>
            </div>
        </body>

<%- include('./partials/footer') %>