<%- include('./partials/head') %> <%- include('./partials/header') %>

<body>
    <div class="container">
        <div class="title">
            <h2>Genre Page</h2>
        </div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis
            voluptate minima a unde assumenda laboriosam ex labore suscipit
            nihil. Eos asperiores adipisci officiis, aspernatur error vero saepe
            temporibus iusto quasi.
        </p>
        <div class="row" style="margin-bottom: 20px; margin-right: 0px;">
        </div>
        <div class="container text-center">
            <div class="row">
              <div class="card text-center mb-3" style="padding-top: 25px; padding-bottom: 25px; background-color:rgb(223, 231, 255) ;">
                <a href="/genre/add"><i class="fa-sharp fa-solid fa-plus"></i></a>
              </div>              
              <% genres.forEach(genre=> { %>
              <div class="card text-center mb-3" style="padding-top: 20px; padding-bottom: 20px;">
                <h5 class="d-flex justify-content-between align-items-center">
                  <%=genre.name%>
                  <div>
                    <a href="/genre/update/<%=genre.id%>"><button type="button" class="btn btn-sm btn-primary"><i class="fa-solid fa-pencil" style="color: white;"></i></button></a>               
                    <a href="/genre/delete/<%=genre.id%>"><button type="button" class="btn btn-sm btn-primary"><i class="fa-solid fa-trash" style="color: white;"></i></button></a>   
                  </div>
                </h5>
              </div>
              <% }) %>
            </div>
          </div>
    </div>
</body>

<%- include('./partials/footer') %>
